# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Poetry
poetry.lock
*/.venv/
.venv/

# VS Code
.history/

# Devcontainer
.devcontainer/.cache/

# Docker
*.log
docker-compose.override.yml

# Tests
.coverage
pytest_cache/

# OS files
.DS_Store
Thumbs.db

# Environment variables
.env

# mypy cache
.mypy_cache/

# ruff cache
.ruff_cache/

# pytest cache
.pytest_cache/

# Python packaging artifacts
*.egg-info/
*.egg
dist/
build/
src/ingestor.egg-info/
